*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

main{
    text-align-last: center;
    color: black;

}

.about {
    width:85%;
    margin: 70px auto;
}

.about-image, img{
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

.about-image{
    flex-basis: 60%;
}

.about-description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 70px;
}

.description{
    flex-basis: 40%;
    margin-right: 5rem;

}

.description p{
    text-align: justify;
    
}

#bTtop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #fff !important;
  cursor: pointer;
}

#bTtop:hover {
  color: #000 !important;
}

 /* MEDIA QUERY */
@media (max-width: 900px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px ;
    }

    .hamburger-wrap {
        display: block;
        cursor: pointer;
        font-size: 25px;
        color: white;

    }
    
    .nav-items{
        display: none  ;
    }

    .open-nav-items{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .nav-links{
        text-align: right;
    }
   
.about {
    width:90%;
    margin: auto;
}

.about-image, img{
    width: 80%;
    height: 100%;
    border-radius: 50%;
}

.about-image{
    flex-basis: 60%;

}

.about-description {
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.description{
    flex-basis: 40%;
    margin-bottom: 3rem;
    margin-right: initial;
}

.description p{
    text-align: justify;
}
}