*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(./../img/istockphoto-1136461807-170667a.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* HAMBURGER SECTION */
.hamburger-wrap{
    display: none;
    color: white;
}

.hamburger-wrap i{
    color: white;
}

.nav-items .nav-links{
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav-items .nav-links:hover{
    background-color: white;
    color:rgb(141, 36, 97);
    border-radius: 5px;
}

.logo-wrap .logo{
    font-size: 30px;
    color: white;
   
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 20px 100px ;
    background-color: rgb(141, 36, 97);
    transition: 0.5s ease;
    
}

.hamburger-wrap{
    display: none;
    color: white;
}

.nav-items .nav-links{
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
    color: white;
    
}

.nav-items .nav-links:hover{
    background-color: white;
    color: rgb(141, 36, 97);
    border-radius: 5px;
    
}

.logo-wrap .logo{
    font-size: 30px;
    color: white;  
}

a {
    text-decoration: none;
}

/* FOOTER SECTION */
footer{
    background-color:  rgb(141, 36, 97);
    padding: 30px;
    display: flex;
    justify-content:center;
    font-size: 18px;
    color: white;
}

footer, h3{
    color: white;
}

footer, i{
    display: grid ;
    size: 30px;
    color: white;  
    
}

i{
    margin-top: 7px;
    gap: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
   
}


/* MEDIA QUERY */
@media (max-width: 900px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px ;
    }
    header{
        width:100%;
    }
    .hamburger-wrap {
        display: block;
        cursor: pointer;
        font-size: 25px;
        color: white;

    }
    
    .nav-items{
        display: none ;
    }

    .open-nav-items{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .nav-links{
        text-align: right;
    }

    
}

